<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="/custom_icon.png">
    <title>Restaurant Apps</title>
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <meta name="theme-color" content="#7FB5FF"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
     <a href="#maincontent" class="skip-link">Go to content</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton" tabindex="0" aria-label="drawer button">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>LET'S FIND RESTAURANT!</h1>
      </div>
  
      <nav id="navigationDrawer" class="app-bar__navigation">

        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li>
            <a
              href="https://www.linkedin.com/in/dishanubari-pramudia-682409231/"
              >About Us</a
            >
          </li>
        </ul>
      </div>
    </nav>
    </header>

    <img src="./images/heros/hero-image_4.jpg" class="image" alt="The Jumbotron" />

    <main id="maincontent" tabindex="0">
      <section class="content" id="mainContent">>
      </section>
    </main>

    <footer>
      <p id="footer" class="footer-p">
        Copyright &copy; 2022, Let's Find Restaurants!
      </p>
    </footer>
  </body>
</html>
